In [1]:
import numpy as np

## DATATYPES AND ATTRIBUTES

In [3]:
# Numpy's main datatype is ndarray

In [4]:
a1 = np.array([1, 2, 3])

In [5]:
a1

array([1, 2, 3])

In [6]:
type(a1)

numpy.ndarray

In [7]:
a2 = np.array([[1, 2.0, 3.3], [4, 5, 6.5]])
a3 = np.array([[[1,2, 3], [4, 5, 6], [7, 8, 9]], [[10, 11, 12], [13, 14, 15], [16, 17, 18]], [[19, 20, 21], [22, 23, 24], [25, 26, 27]]])

In [8]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [9]:
a2.shape
a3.shape

(3, 3, 3)

In [10]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [11]:
a3.ndim

3

In [12]:
a3.shape

(3, 3, 3)

In [13]:
a1, a2

(array([1, 2, 3]),
 array([[1. , 2. , 3.3],
        [4. , 5. , 6.5]]))

In [14]:
a1.size, a3.size

(3, 27)

In [15]:
type(a1)

numpy.ndarray

In [16]:
import pandas as pd 
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## 2. create numpy array

In [18]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [19]:
sample_array.dtype

dtype('int32')

In [20]:
## populates the array with ones with a given shape of t
ones = np.ones((3, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [21]:
ones.dtype

dtype('float64')

In [22]:
type(ones)

numpy.ndarray

In [23]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [24]:
## start, stop , step (it's arange)
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [25]:
## low, high and size
random_array = np.random.randint(0 ,10, size=(3, 5))
random_array

array([[2, 7, 0, 3, 9],
       [4, 7, 5, 4, 4],
       [7, 1, 2, 9, 9]])

In [26]:
random_array.dtype

dtype('int32')

In [27]:
type(random_array)

numpy.ndarray

In [28]:
random_array.size

15

In [29]:
random_array.shape

(3, 5)

In [30]:
#returns random floates 
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.30190176, 0.72742307, 0.90922289],
       [0.27628854, 0.93354649, 0.2278413 ],
       [0.19520895, 0.40899334, 0.01697997],
       [0.02813395, 0.84831611, 0.96195403],
       [0.56038833, 0.38172198, 0.08035507]])

In [31]:
random_array_2.shape

(5, 3)

In [32]:
## returns an array with random number in a given shape
## dimensiuon 0 and 1 are also known as axis 0 and 1 and they inslude rows and coloumns respectively
random_array_3 = np.random.rand(2,4)
random_array_3

array([[0.96231569, 0.11537203, 0.98604813, 0.66805221],
       [0.83208184, 0.28827691, 0.88851713, 0.61543991]])

In [33]:
np.random.seed(seed=0000)
random_array_4 = np.random.randint(0, 10, size = (5,3))
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [34]:
## if we wanted to share our notebook and it would generate random number that can be reproduced

In [35]:
np.random.seed(seed=7)
random_array_5 = np.random.random((5, 3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [36]:
np.random.seed(seed=7)
random_array_5 = np.random.random((2, 3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587]])

## viewing arrays and matrics

In [38]:
np.unique([1, 1, 2, 2, 3, 3])

array([1, 2, 3])

In [39]:
array_a = np.unique(random_array_5)
array_a

array([0.07630829, 0.43840923, 0.53849587, 0.72346518, 0.77991879,
       0.97798951])

In [40]:
a = np.array([[1, 0, 0], [1, 0, 0], [2, 3, 4]])
np.unique(a, axis=0)

array([[1, 0, 0],
       [2, 3, 4]])

In [41]:
a = np.array(['a', 'b', 'b', 'c', 'a'])
## returns and stors the unique vales and their indices on the new array of unique vales created(first occurence)
u, indices = np.unique(a, return_index=True)
u

array(['a', 'b', 'c'], dtype='<U1')

In [42]:
indices # the indices of the unique elemets in the array is returned

array([0, 1, 3], dtype=int64)

In [43]:
 test, index = np.unique(random_array_4, return_index= True)

In [44]:
test

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
index

array([ 1, 14,  8,  2,  9,  0, 11,  4, 12,  5], dtype=int64)

In [46]:
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [47]:
random_array_4.size

15

In [48]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [49]:
a2[1]

array([4. , 5. , 6.5])

In [50]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [51]:
a3.shape

(3, 3, 3)

In [52]:
random_array_4[:5, :3] #selectes elements in an array according to row an coloumn range

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [53]:
#the first argument is the rows wwhile the second and third are columns and matrix repectively
##### rows #colums
##     |    |
a3[:3, :2, :2 ]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]],

       [[19, 20],
        [22, 23]]])

In [54]:
############################### axisn axis1 axis0
a4 = np.random.randint(10, size= (2, 3, 2, 4))
a4

array([[[[8, 9, 8, 7],
         [6, 4, 0, 7]],

        [[0, 7, 6, 3],
         [5, 8, 8, 7]],

        [[5, 0, 0, 2],
         [8, 9, 6, 4]]],


       [[[9, 7, 3, 3],
         [8, 3, 0, 1]],

        [[0, 0, 6, 7],
         [7, 9, 3, 0]],

        [[7, 7, 7, 0],
         [5, 4, 3, 1]]]])

In [187]:
import pandas as pd
np.random.seed(seed=7)
matrix_sales = np.random.randint(20, size=(5, 3))
matrix_sales

array([[15,  4,  3],
       [19,  7, 14],
       [ 8, 14, 10],
       [ 8,  7,  6],
       [ 4, 16,  7]])

In [189]:
Df_matrix_sales = pd.DataFrame(matrix_sales, columns=["Almond Butter", "Peanut Butter", "Cashew butter"], index=["Mon", "Tues", "Wed", "Thurs",  "Fri"])
Df_matrix_sales

       Almond Butter  Peanut Butter  Cashew butter
Mon               15              4              3
Tues              19              7             14
Wed                8             14             10
Thurs              8              7              6
Fri                4             16              7

In [193]:
np.random.seed(seed= 7)
matrix_price = np.random.randint(15, size=(1, 3))
matrix_price

array([[4, 9, 6]])

In [195]:
Df_matrix_price = pd.DataFrame(matrix_price, columns=["Almond Butter", "Peanut Butter", "Cashew butter"], index=["Price"])
Df_matrix_price

       Almond Butter  Peanut Butter  Cashew butter
Price              4              9              6

In [197]:
matrix_price

array([[4, 9, 6]])

In [199]:
matrix_sales

array([[15,  4,  3],
       [19,  7, 14],
       [ 8, 14, 10],
       [ 8,  7,  6],
       [ 4, 16,  7]])

In [205]:
matrix_price.T

array([[4],
       [9],
       [6]])

In [259]:
matrix_total= matrix_sales.dot(matrix_price.T)
matrix_total

array([[114],
       [223],
       [218],
       [131],
       [202]])

In [253]:
matrix_total.shape

(5, 1)

In [247]:
Df_matrix_sales["Total ($)"] = pd.DataFrame(matrix_total, columns=["Total"], index=["Mon", "Tues", "Wed", "Thurs", "Fri"])
Df_matrix_sales

Df_matrix_sales.drop("Total", axis=1)

       Almond Butter  Peanut Butter  Cashew butter  Total ($)
Mon               15              4              3        114
Tues              19              7             14        223
Wed                8             14             10        218
Thurs              8              7              6        131
Fri                4             16              7        202